<div class='container'>
  <div id="Search">
    <%= form_tag stretches_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a stretch"
      %>
    <% end %>
      <%= submit_tag "Search", class: "btn btn-primary"%>
  </div>
  <h1>All Stretches</h1>
  <div class='row'>
      <% @stretches.each do |s| %>
        <%= link_to stretch_path(s), class: 'col-6 card stretch-card' do %>
          <div>
            <%= image_tag("#{s.photo}", class: "images card-pic") %>
            <h4 class='text-center'><%= s.name %></h4>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
