<div class='container'>
  <h1 style="
    text-align: center;
    margin-bottom: 5%;
">All Stretches</h1>
  <div id="Search">
    <%= form_tag stretches_path, method: :get, id: "searchbar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a stretch or the difficulty"
      %>
    <% end %>
    <%= button_tag type: 'submit', class: "btn-unset", id: "search-button" do %>
      <i class="fas fa-search" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class='row'>
      <% @stretches.each do |s| %>
        <%= link_to stretch_path(s), class: 'col-6 card stretch-card' do %>
          <div>
            <%= image_tag("#{s.photo}", class: "images card-pic") %>
            <h4 class='text-center'><%= s.name %></h4>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
