<div class='d-flex justify-content-between'>
  <div>
    <%= image_tag('firstyoga.png', class:'card-pic') %>
  </div>
  <div class='card float'>
    <h1><%= @stretch.name %></h1>
    <h4><b>difficulty: </b><%= @stretch.difficulty %></h4>
    <h4><b>description: </b></h4>
    <p><%= @stretch.description %></p>

      <h3>add this stretch to your routine</h3>
      <%= simple_form_for [@stretch, @new] do |f| %>
        <%= f.collection_select :routine, Routine.where(imageable_type: 'User').where(imageable_id: current_user.id), :id, :name %>
        <%= f.button :submit, '+', class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
