<div class='routine-container'>
  <div class="routine-img">
    <img src="https://static.hosteltur.com/app/public/uploads/img/releases/2019/05/24/M_160635_bikram-yoga-spain-training.jpg" alt="">
 </div>
  <div class='routine-foot'>
    <div class='card-title'><%= @routine.name %></div>
    <div class='card-text'><i class="fa-solid fa-person-running"></i>   <%= @routine.difficulty %></div>
    <div class="card-text"><i class="fa-solid fa-stopwatch"></i><%= @routine.duration %></div>
    <div class="card-text des"><%= @routine.description %></div>
    <div class="start">
      <%= link_to 'start routine', routines_path(:id), class: 'btn btn-primary btn-lg', id: "start" %></div>
    </div>
  </div>
</div>
