<h1 class='text-center sport'><%= @sport.name %></h1>
<div class='routine-container'>
   <div class="owl-carousel" data-controller="home-carousel">
    <% @routines.each do |r| %>
      <%= link_to routine_path(r) do %>
        <div class="routine-img"><%= image_tag(r.image) %> </div>
        <div class='routine-foot-sports'>
          <div class='card-title-sport'><%= r.name %></div>
          <div class="card-text-sport"><%= r.description %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
