<nav class="navbar navbar-light navbar-expand-md py-3" <%= 'landnav' if current_page?(root_path) %> <%='nonav' if current_page?(routines_path) %> >
  <div class="container-fluid nav-2">
    <a class="navbar-brand d-flex align-items-center" href="/home">
      <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="color: rgb(30, 54, 77);">
        <i class="icon fas fa-praying-hands"></i>
      </span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon">
      </span>
    </button>
      <div id="navcol-1" class="collapse navbar-collapse">
        <ul class="navbar-nav" id= "log-sign">
          <% if user_signed_in? %>
            <li class="nav-item nav-link"><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
          <li class="nav-item nav-link"><%= link_to "sign up", new_user_registration_path %></li>
          <li class="nav-item nav-link"><%= link_to "log in", new_user_session_path %></li>
        </ul>
        </ul>
        <% end %>
      </div>
  </div>
</nav>
