<% if @myroutines %>
<div class='container'>
  <div class='header'>
    <h1 style='color:#4B7395'>Find the perfect routine <span style='color:white'>for you.</span></h1>
    <p>*search bar goes here*</p>
  </div>
  <h3 style='color:#4B7395'>Special Sport routines</h3>
  <div class="owl-carousel">
    <% @sports.each do |s| %>
      <%= link_to sport_path(s) do %>
        <div class='sport-card card p-5'>
          <div class='text-center'><%= s.name %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3 style='color:#4B7395'>My routines <%= link_to '+', new_routine_path, class:'btn btn-primary rounded-circle' %></h3>
  <% if @myroutines %>
    <div class="owl-carousel">
      <% @myroutines.each do |s| %>
        <%= link_to routine_path(s) do %>
          <div class='sport-card card p-5'>
            <div class='text-center'><%= s.name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'yoga centers near me','#', class:'btn btn-primary' %>
</div>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: true,
        margin:10,
        responsive:{
          0:{
            items:1
          },
          600:{
          items:3
          }
        }
      })
    });
  </script>
<% end %>
