<!DOCTYPE html>
<html>
  <head>
    <title>Gasho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
    <%= yield :after_js %>
  </body>
  <%= render "shared/footer" %>
</html>
